[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "elisp/clojure-mode"]
	path = elisp/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "elisp/slime"]
	path = elisp/slime
	url = git://git.boinkor.net/slime.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = http://github.com/tpope/vim-haml.git
