[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = http://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-rooter"]
	path = vim/bundle/vim-rooter
	url = http://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
