<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/Apple/DTD PLIST 1.0/EN" "http:/www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.github.jedisct1.dnscrypt-proxy</string>
    <key>UserName</key>
    <string>nobody</string>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/sbin/dnscrypt-proxy</string>
      <string>-config</string>
      <string>/usr/local/svcs/dnscrypt-proxy/etc/dnscrypt-proxy.toml</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/usr/local/svcs/dnscrypt-proxy/var/dnscrypt-proxy.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/svcs/dnscrypt-proxy/var/dnscrypt-proxy.log</string>
  </dict>
</plist>
