/* -------------------------------------------------------------------------
 * Global & Bar
 */
* {
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: #282a36;
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.3;
}

/* -------------------------------------------------------------------------
 * Layout
 */
.modules-left > widget:not(:first-child),
.modules-right > widget:not(:first-child) {
    margin-left: 5px;
}

/* -------------------------------------------------------------------------
 * All modules
 */
#workspaces,
#clock,
#pulseaudio,
#tray,
#mode,
#custom-audio_idle_inhibitor,
#idle_inhibitor,
#scratchpad {
    padding: 0 6px;
    margin: 2px 0;
    background-color: transparent;
}

/* -------------------------------------------------------------------------
 * Module: workspace
 */
#workspaces button {
    padding: 0 8px;
    color: #f8f8f2;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background: #3a3c4e;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    background-color: #44475a;
    border-bottom: 2px solid #8be9fd;
}

#workspaces button.urgent {
    color: #282a36;
    background-color: #ff5555;
    border-bottom: 2px solid #ff5555;
}

/* -------------------------------------------------------------------------
 * Module: clock
 */
#clock {
    font-weight: bold;
    padding-right: 12px;
}

/* -------------------------------------------------------------------------
 * Module: pulseaudio
 */
#pulseaudio.muted {
    color: #6272a4;
}

/* -------------------------------------------------------------------------
 * Module: tray
 */
#tray {
    background-color: #44475a;
    border-radius: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff5555;
}

/* -------------------------------------------------------------------------
 * Module: mode
 */
#mode {
    font-weight: bold;
}

/* -------------------------------------------------------------------------
 * Module: idle_inhibitor
 */
#idle_inhibitor.activated {
    color: #282a36;
    background-color: #f1fa8c;
}

/* -------------------------------------------------------------------------
 * Module: scratchpad
 */
#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}
