# Managed servers

Host futami
  Hostname futami.grid.in.th
  Port 22

Host chika
  Hostname chika.grid.in.th
  Port 22

Host ontheo
  Hostname ontheo.ath.cx
  Port 22

# Clients

Host yuno
  Hostname 210.1.31.61
  Port 22

# Unmanaged servers

Host nfs
  Hostname ssh.phx.nearlyfreespeech.net
  Port 22
