templates:
  params:
    author-name: Kridsada Thanabulpong
    author-email: sirn@ogsite.net
    github-username: sirn

with-gcc: {{gcc_bin}}

{% if fuse_ld %}
ghc-options:
  "$everything": -optl-fuse-ld={{fuse_ld}}
{% endif %}
