* {
    border-radius: 0;
    border: none;
    font-family: FontAwesome, sans-serif;
    font-size: 14px;
    min-height: 0;
    transition: background-color 0.3s ease-in-out;
}

window#waybar {
    background-color: @default_bg;
    color: @default_text;
}

window#waybar.hidden {
    opacity: 0.3;
}

.module {
    margin: 2px 0;
}
.modules-left {
    padding-left: 8px;
}
.modules-right {
    padding-right: 8px;
}
.modules-right > .module {
    margin-right: 2px;
}

#workspaces {
    margin: 0;
}
#workspaces button {
    padding: 0 8px;
    color: @default_text;
    background-color: transparent;
    border-bottom: 2px solid transparent;
}
#workspaces button:hover {
    background-color: transparent;
    border-bottom: 2px solid transparent;
}
#workspaces button.focused {
    background-color: transparent;
    border-bottom: 2px solid @highlight_bg;
}
#workspaces button.urgent {
    color: @alert_text;
    background-color: transparent;
    border-bottom: 2px solid @alert_bg;
}

#clock {
    font-weight: bold;
    padding: 0 10px;
}
.modules-right > widget:last-child > #clock {
    padding-right: 2px;
}

#pulseaudio {
    padding: 0 10px;
}
#pulseaudio.muted {
    color: @muted_text;
}

#tray {
    background-color: alpha(@default_text, 0.1);
    border-radius: 5px;
    padding: 0 10px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @alert_bg;
    color: @alert_text;
}

#battery {
    background-color: alpha(@default_text, 0.1);
    border-radius: 5px;
    padding: 0 10px;
}
#battery.charging:not(.full) {
    background-color: @battery_charging_bg;
    color: @battery_charging_text;
}
#battery.warning {
    background-color: @battery_warning_bg;
    color: @battery_warning_text;
}
#battery.critical {
    background-color: @battery_critical_bg;
    color: @battery_critical_text;
}

#mode {
    background-color: @highlight_bg;
    border-radius: 5px;
    color: @highlight_text;
    font-weight: bold;
    padding: 0 10px;
}

#idle_inhibitor {
    border-radius: 5px;
    padding: 0 10px;
}
#idle_inhibitor.activated {
    color: @highlight_text;
    background-color: @highlight_bg;
}

#scratchpad {
    background-color: alpha(@default_bg_solid, 0.2);
    padding: 0 10px;
}

#custom-audio_idle_inhibitor {
    background-color: @highlight_bg;
    border-radius: 5px;
    color: @highlight_text;
    padding: 0 10px;
}
